.register_content_container{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.register_text_wrapper{
    width: 45%;
}
@media (max-width: 767px) {
  .register_text_wrapper{
    width: 100%;
}
}