.App {
  font-family: poppins;
}
.container_fluid{
  background-color:  #F9F9FA;
  padding: 5% 0px;
}
.page_heading{
  font-size: 32px;
  font-weight: 700;
 text-transform: capitalize;
 line-height: normal;
 color: #1C267D;
}
.page_text{
  font-size: 20px;
}
.center_heading_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  text-align: center;
  margin: auto;
}
.let_button{
  font-size: 16px;
  font-weight: 500;

}
@media (max-width: 767px) {
  .page_heading{
  font-size: 16px;
}
.page_text{
  font-size: 14px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  
}